$p_siva: rgb(140, 140, 140);

.coinsSection {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  .headerSection {
    padding: 1.5em 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .headerLeft {
      h1 {
        font-size: 1.4em;
        color: rgb(255, 153, 0);
      }
    }
    .headerRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      input[type="text"] {
        font-size: 1em;
        padding: 0.4em;
        border: none;
        border-radius: 5px;
      }
      :focus {
        outline: none;
      }
    }
  }
  .sortSection {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7em 2em;
    gap: 5px;
    font-size: 0.9em;
    color: $p_siva;
    cursor: pointer;
    p {
      display: flex;
      align-items: center;
    }
    .rank {
      width: 7.5%;
    }
    .currencyName {
      width: 15%;
    }
    .mCap {
      width: 15%;
    }
    .price {
      width: 10%;
    }
    .volume {
      justify-content: flex-end;
      width: 15%;
    }
    .activeSupply {
      justify-content: center;
      width: 20%;
    }
    .change {
      width: calc(100% - 20% - 15% - 10% - 15% - 17.5% - 5%);
      justify-content: flex-start;
    }
  }

  .coinContainer {
    width: 100%;
    padding: 1.5em 2em;
    border-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: 500;

    .rank {
      width: 5%;
      color: $p_siva;
    }
    .icon {
      width: 2.5%;
      border-radius: 50%;
    }
    .currencyName {
      margin-left: 10px;
      width: 15%;
      font-size: 1.2em;
    }
    .mCap {
      width: 15%;
      color: $p_siva;
    }
    .price {
      width: 10%;
    }
    .volume {
      text-align: end;
      width: 15%;
    }
    .activeSupply {
      width: 20%;
      color: $p_siva;
      text-align: end;
    }
    .red {
      width: calc(100% - 20% - 15% - 10% - 15% - 17.5% - 5%);
      text-align: center;
      color: red;
    }
    .green {
      width: calc(100% - 20% - 15% - 10% - 15% - 17.5% - 5%);
      text-align: center;
      color: rgb(0, 255, 0);
    }
  }
}
