.coinsSection {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  .headerSection {
    padding: 1.5em 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .headerLeft {
      h1 {
        font-size: 1.4em;
        color: rgb(0, 136, 255);
      }
      p {
        color: rgb(129, 131, 134);
      }
    }
    .headerRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      li {
        text-align: center;
        background-color: white;
        border: 1px rgb(202, 202, 202) solid;
        padding: 0.5em 0.7em;
        color: rgb(113, 113, 113);
        box-shadow: 5px 5px 5px rgb(231, 231, 231);
      }
      .first {
        border-radius: 7px 0 0 7px;
      }
      .active {
        background-color: rgb(235, 255, 255);
        color: rgb(0, 136, 255);
        font-weight: 500;
      }
      .last {
        border-radius: 0 7px 7px 0;
      }
    }
  }
  .sortSection {
    background-color: rgb(229, 229, 229);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7em 2em;
    gap: 5px;
    font-size: 0.9em;
    color: rgb(113, 113, 113);
    cursor: pointer;
    .rank {
      width: 7.5%;
    }
    .currencyName {
      width: 15%;
    }
    .mCap {
      width: 15%;
    }
    .price {
      width: 10%;
    }
    .volume {
      text-align: end;
      width: 15%;
    }
    .activeSupply {
      text-align: end;
      width: 20%;
    }
    .change {
      width: calc(100% - 20% - 15% - 10% - 15% - 17.5% - 5%);
      text-align: center;
    }
  }

  .coinContainer {
    width: 100%;
    padding: 1.5em 2em;
    border: 1px rgb(229, 229, 229) solid;
    border-bottom: 0;
    display: flex;

    align-items: center;
    .rank {
      width: 5%;
    }
    .icon {
      width: 2.5%;
    }
    .currencyName {
      margin-left: 10px;
      width: 15%;
      font-size: 1.2em;
      font-weight: 500;
    }
    .mCap {
      width: 15%;
      color: rgb(129, 131, 134);
    }
    .price {
      width: 10%;
      font-weight: 700;
    }
    .volume {
      text-align: end;
      width: 15%;
      font-weight: 700;
    }
    .activeSupply {
      width: 20%;
      color: rgb(129, 131, 134);
      text-align: end;
    }
    .red {
      width: calc(100% - 20% - 15% - 10% - 15% - 17.5% - 5%);
      text-align: center;
      color: red;
    }
    .green {
      width: calc(100% - 20% - 15% - 10% - 15% - 17.5% - 5%);
      text-align: center;
      color: rgb(0, 255, 0);
    }
  }
}
