.navBar {
  width: 80%;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    max-height: 5em;
    transform: scale(2);
    mix-blend-mode: color-burn;
  }
  input[type="text"] {
    font-size: 1em;
    padding: 0.4em;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgb(209, 209, 209);
  }
  .navbtn {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 500;
  }
  :hover {
    background-color: rgba(247, 254, 254, 0.689);
    cursor: pointer;
    color: rgb(2, 127, 236);
    transition: 0.2s;
  }
  #select {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    option {
      color: rgb(2, 127, 236);
      background-color: rgba(247, 254, 254, 0.689);
      border: none;
      outline: none;
    }
  }
  :focus {
    outline: none;
  }
}
